<h1>All Contacts</h1>


<% @contacts.each do |contact| %>
	<p><%=contact.id %> - <%=contact.last_name %>, <%=contact.first_name%></p>
	<p><%=contact.email%></p> 
	<p><%=contact.notes%></p>
<% end %>



