<h1>All Contacts</h1>

<ul>
<% @@rolodex.contacts.each do |contact| %>
	<li><%=contact.id %> - <%=contact.last_name %>, <%=contact.first_name%></li>
	<li><%=contact.email%></li> 
	<li><%=contact.notes%></li>
	
<% end %>

</ul>

