<h2>Enter Customer ID Number</h2>

<form action="/contacts/<%=@contact.id%>" method="post">
	<input type="hidden" name="_method" value="put">
	<input type="text" name="first_name" value="<%=@contact.first_name%>"><br/>
	<input type="text" name="last_name" value="<%=@contact.last_name%>"><br/>
	<input type="text" name="email" value="<%=@contact.email%>"><br/>
	<input type="text" name="notes" value="<%=@contact.notes%>"><br/>
	<input type="submit" name="Submit">
</form>