<h2>Enter Customer ID</h2>
<p>Search By: Last Name</p>
	<form action="/find" method="GET"><input type="text" name="last_name" placeholder="Last Name"><input type="submit" value="search"></form>
		
		<% @found_contacts.each do |contact| %>
			
			<p><%= contact.id%>  <%= contact.last_name %></p>
			<p><%=contact.first_name %></p> 
			<p><%=contact.email %></p> 
			<p><%=contact.notes %></p>
			<!--<p><a href="/contacts/<%=contact.id%>/edit">EDIT</a></p> -->
			<form action="/contacts/<%=contact.id%>/edit" method="get">
				<input type="submit" value="  Edit Contact  ">
			</form>
			<form action="/contacts/<%= contact.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Contact">
			</form>
		<% end %>
		<%if @@message.length > 0%>
		<p><%= @@message%></p>
		<%end%>