<h2>Enter Customer ID</h2>
<p>Search By: Last Name</p>
	<form action="/find" method="GET"><input type="text" name="last_name" placeholder="Last Name"><input type="submit" class="button_header" value="search"></form>
		
		<% @found_contacts.each do |contact| %>
			
			<p><%= contact.id%> - <%= contact.last_name %>,</p>
			<p><%=contact.first_name %>,</p> 
			<p><%=contact.email %>,</p> 
			<p><%=contact.notes %></p>
			<!--<p><a href="/contacts/<%=contact.id%>/edit">EDIT</a></p> -->
			<form class="button_float" action="/contacts/<%=contact.id%>/edit" method="get">
				<input class="button_header" type="submit" value="  Edit  ">
			</form>
			<form class="button_float" action="/contacts/<%= contact.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input class="button_header" type="submit" value=" Delete ">
			</form>
		<% end %>
		<%if @@message.length > 0%>
		<p><%= @@message%></p>
		<%end%>